body {
  background: white;
}
.header {
  background: rgba(70, 83, 87, 0.90);
  width: 60vw;
  margin: auto;
  color: white;
  border-radius: 50px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  position: relative;
  margin-top: 5px;
  border: 3px gray solid;
}
.header > h1 {
  font-size: 40px;
}
.header > p {
  font-size: 20px;
  position: relative;;
  bottom: 10px;
}
.board {
  height: 500px;
  width : 600px;
  margin: auto;
  background: rgba(70, 83, 87, 0.90);
  border: 3px gray solid;
  display: flex;
  flex-wrap: wrap; /*wrap rows*/
  flex-direction: row; /*ensure circles are in rows*/
  justify-content: space-around; /*create space on all sides of circles*/
}
obj {
  width: 13%; /*divide 100 by 7*/
  height: 15%; /*divide 100 by 6*/
  border: 1px black solid;
  border-radius: 70px; /*make circles*/
  background: white;
}
.clickedRed {
  background: red;
}
.clickedBlack {
  background: black;
}
span > button {
  background: white;
  font-size: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 14px 40px;
  border-radius: 50%;
}
button:hover {
  color: white;
  background-color: grey;
  transition: 1s;
}
