.header {
  background: rgba(70, 83, 87, 0.90);
  width: 70vw;
  margin: auto;
  color: white;
  border-radius: 40px;
  text-align: center;
  padding: 10px;
}
.board {
  height: 70vh;
  width : 90vw;
  margin: auto;
  background: yellow;
  border-radius: 10px;
}
button {
  background: white;
  display: inline-flex;
  justify-content: center;
}
