body {
  background: black;
}
.header {
  background: rgba(70, 83, 87, 0.90);
  width: 70vw;
  margin: auto;
  color: white;
  border-radius: 40px;
  text-align: center;
  padding: 10px;
}
.board {
  height: 500px;
  width : 600px;
  margin: auto;
  background: black;
  border: 3px white solid;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;;
}
.gameTile {
  width: 13%;
  height: 15%;
  border: 1px white solid;
  border-radius: 70px;
}
.clickedWhite {
  background: white;
}
.clickedGray {
  background: rgba(70, 83, 87, 0.90)
}
button {
  background: white;
  display: inline-flex;
  justify-content: center;
}
